@{
    ViewBag.Title = "About Buttr";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>Buttr is good. Buttr is great.</h3>
<h3>Buttr makes everything better.</h3>
<h3>Even BCAM</h3>