<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/Content/full.css">
    <link rel="stylesheet" type="text/css" href="//harvesthq.github.io/chosen/chosen.css">
    <link rel="stylesheet" type="text/css" href="/Content/chosen/chosen-bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/Content/token/css/bootstrap-tokenfield.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <script src="//harvesthq.github.io/chosen/chosen.jquery.js"></script>

    <script src="/Content/token/bootstrap-tokenfield.js"></script>
</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
